<div class="container">
  <h1>Work Experience </h1>
  <ul>
    <li *ngFor="let workexp of workExpList" >
      <h2>{{workexp.role}}</h2>
      <h3>{{workexp.organization}}</h3 >
      <h4>{{workexp.from}} - {{workexp.to?workexp.to:'Now'}}</h4 >
      <ul>
        <li *ngIf="workexp.key_responsibilities1"> {{workexp.key_responsibilities1}} </li>
        <li *ngIf="workexp.key_responsibilities2"> {{workexp.key_responsibilities2}} </li>
        <li *ngIf="workexp.key_responsibilities3"> {{workexp.key_responsibilities3}} </li>
      </ul>
    </li>
  </ul>
</div>
