<div class="container">
  <h1 class="title">
      <span>Personal Information</span>
  </h1>

    <table>
        <tbody *ngIf="myData; else noData">
          <table-row key="Name" [value]="myData.name"></table-row>
          <table-row key="DOB" [value]="myData.dob"></table-row>
          <table-row key="Work Experience" [value]="myData.work_exp"></table-row>
          <table-row key="Education" [value]="myData.max_education"></table-row>
          <table-row key="Interest" [value]="myData.interest"></table-row>
        </tbody>
    </table>
    <section>
        <p>
            {{myData?myData.description:'Something went wrong'}}
        </p>
    </section>
  <ng-template #noData>
    Something went wrong
  </ng-template>
</div>
